<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Command &amp; Conquer Generals Zero Hour (Wine 8)</string>
	<key>CFBundleExecutable</key>
	<string>Generals</string>
	<key>CFBundleIconFile</key>
	<string>Generals</string>
	<key>CFBundleIdentifier</key>
	<string>local.games.command-and-conquer-generals-zero-hour-wine-8</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Generals ZH (Wine 8)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.strategy-games</string>
</dict>
</plist>
